@model Recipes.ViewComponents.MenuRecipeDetailModel
<div>
    Recipe Name: @Model.Recipe.Name
</div>
<div>
    Cook Time: @Model.Recipe.CookTimeMinutes minutes
</div>
<div>
    Servings: @Model.Recipe.Servings minutes
</div>
<label asp-for="Recipe.Ingredients"></label>
<ul style="list-style-type:disc">

    @foreach (var ingredient in Model.Recipe.Ingredients)
    {
        <li>@ingredient</li>
    }
</ul>

<label asp-for="Recipe.Directions"></label>
<ol>
    @foreach (var direction in Model.Recipe.Directions)
    {
        <li>@direction</li>
    }
</ol>

<div>
    Recipe Category: @Model.CategoryNameOfRecipe
</div>